[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitcoin = "*"

[dev-packages]
"flake8" = "*"
"flake8-import-order" = "*"
pytest = "*"
the = "*"
mypy-lang = "*"

[requires]
python_version = "3.7"
